<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="navbar">
        <div class="navbar-boxbotname"></div>
        <div class="navbar-buttons"></div>
        <div class="navbar-search"></div>
        <div class="navbar-server"></div>
        <div class="navbar-profil"></div>
      </div>
      <div class="dashboard"></div>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
