<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DASHBOARD</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>
    <div class="content">
      <div class="navbar">
        <div class="navbar-boxbotname">
          <h1 class="navbar-boxbotname-name">Eureka</h1>
        </div>
        <div class="navbar-buttons">
          <span
            class="navbar-buttons-links active"
            onclick="redirect('index.html')">
            <span class="material-symbols-outlined"> dashboard </span>
            <a href="index.html">Dashboard</a>
          </span>
          <span class="navbar-buttons-links"
            ><span class="material-symbols-outlined"> person </span
            ><a href="#">Profile</a></span
          >
        </div>
        <div class="navbar-search">
          <input
            id="search"
            class="navbar-search-input"
            type="text"
            placeholder="Search.." />
          <span class="material-symbols-outlined search-icon"> search </span>
        </div>
        <div class="navbar-server" id="servers"></div>
        <div class="navbar-profil">
          <div class="navbar-profil-noconnected" id="noconect">
            <a
              id="login"
              href="https://discord.com/api/oauth2/authorize?client_id=1121141209302319124&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fauth%2Fdiscord&response_type=token&scope=identify%20guilds%20guilds.members.read"
              >CONNEXION</a
            >
          </div>
          <div class="navbar-profil-connected" id="conect">
            <div class="navbar-profil-content">
              <img
                id="avatar"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY-Qo0BctiU-WPaCsgyI6JSq5Ffd07zxP2rQ&usqp=CAU"
                alt="pp" />
              <h1 id="pseudo"></h1>
            </div>
            <div class="navbar-profil-gear">
              <span
                class="gear-icon material-symbols-outlined"
                onclick="logout()">
                logout
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard">
        <div class="direction">
          <div class="direction-home">
            <span class="material-symbols-outlined"> house </span>
            <h3>Home</h3>
          </div>
          <div class="direction-arrow">
            <span class="material-symbols-outlined"> arrow_forward_ios </span>
          </div>
          <div class="direction-dashboard">
            <span class="material-symbols-outlined"> dashboard </span>
            <h3>Dashboard</h3>
          </div>
        </div>
        <div class="dashboard-titre">
          <h1>Dashboard</h1>
        </div>
        <div class="dashboard-invitebot">
          <div class="dashboard-invitebot-icon">
            <span class="material-symbols-outlined"> smart_toy </span>
          </div>
          <div class="dashboard-invitebot-content">
            <h1>Invite le Bot</h1>
            <a
              target="_blank"
              href="https://discord.com/api/oauth2/authorize?client_id=1121141209302319124&permissions=8&scope=bot"
              ><span class="material-symbols-outlined"> mail </span>Inviter
              maintenant</a
            >
          </div>
        </div>
        <div class="dashboard-plugins" id="dashboard-plugins">
          <div class="dashboard-plugins-title">
            <h2>Plugins</h2>
          </div>
          <div class="dashboard-plugins-boxes">
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined"> send </span>
              </div>
              <div class="box-content">
                <h3>Bienvenue et au revoir</h3>
                <p>
                  Envoie automatiquement des messages et attribue des rôles à
                  tes nouveaux membres...
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined"> palette </span>
              </div>
              <div class="box-content">
                <h3>Rôles-Réactions</h3>
                <p>
                  Permets à tes membres d'avoir un rôle en réagissant à un
                  message
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined"> how_to_vote </span>
              </div>
              <div class="box-content">
                <h3>Sondages</h3>
                <p>
                  Permets à tes membres de créer des sondages et de voter à leur
                  sujet
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined"> construction </span>
              </div>
              <div class="box-content">
                <h3>Modération</h3>
                <p>
                  L'Auto-Modération est composé des contrôles ci-dessous. Tu
                  peux les activer ou les désactiver...
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined">
                  confirmation_number
                </span>
              </div>
              <div class="box-content">
                <h3>Ticket</h3>
                <p>
                  Permets à tes membres de soumettre des tickets d'assistance,
                  des rapports et des demandes.
                </p>
              </div>
            </div>
            <div class="box">
              <div class="box-icon">
                <span class="material-symbols-outlined"> palette </span>
              </div>
              <div class="box-content">
                <h3>Messages embed</h3>
                <p>
                  Crée de magnifiques messages Embed pour tes règles et annonces
                  avec des vignettes et des couleurs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script></script>
  </body>
  <script src="/js/index.js"></script>
</html>
